[Unit]
Description=HashiCorp Vault
After=network.target

[Service]
User={{ vault_user }}
{% if vault_dev_mode|bool == true %}
ExecStart=/usr/local/sbin/vault server -dev
{% else %}
ExecStart=/usr/local/sbin/vault server -config /etc/vault/config.hcl
{% endif %}
PIDFile=/var/run/vault.pid

[Install]
WantedBy=multi-user.target
